page-reset {

    ion-content{
        background-image: url('../assets/imgs/bg_wood.jpg');
    }
    
.scroll-content{
    background-color: rgba(85, 123, 10, 0.36);
}
    .button-md-darkButton{
        color: #488aff;
    } 
    .button-md-darkButton2{
        color: #488aff;
        margin-top: 60%;
    }
    .required{
        font-size: 20px;
        font-weight: bold;
        color: red;
    }
}
