page-login {
text-align: center;

.logo{
    width:30%;
    height:10%;
}
.scroll-content{
    background-color: rgba(0, 150, 136, 0.251)
}
ion-toolbar{
    text-align: center; 
}
ion-content{
    background-image: url('../assets/imgs/bg_wood.jpg');
}
.required{
    font-size: 20px;
    font-weight: bold;
    color: red;
}
.centered {
    margin-top: 10%;
}
.top-lady{
    margin-top: 10%;
}
.top-lady img{
    margin-bottom: -8%;
}
// .item-md{
//     background-color: transparent;
//     color: color($colors,dark);
// }
// // .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) 
// // .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) 
// // .item-inner{
// //     background-color: transparent;
// // }
// .item-input ion-input, .item-input ion-textarea{
//     background-color: transparent;
// }
.btn-forgot{
    font-size: 12px;
    float: right;
    text-transform: lowercase;
    margin-top: -20px;
    color: #000;
    font-weight: bold;
} 
 .button-md-darkButton{
    color: #488aff;
    height: 50px;
    font-size: 25px;
    font-weight: bolder;
    width: 80%;
    margin: auto;   
     width: 90%;
}
}
