page-register {
    ion-content{
        background-image: url('../assets/imgs/bg_wood.jpg');
        
    }
  .scroll-content{
    background-color: rgba(23, 14, 1, 0.639);
  }
  .required{
    font-size: 20px;
    font-weight: bold;
    color: red;
}
text-align: center;
/*ion-input{
    color:color($colors,primary);
}
p{
    color:color($colors,primary);
}*/
}
