page-home {
.scroll-content{
    background-color: rgba(23, 14, 1, 0.639);
}
    ion-card{
        position: relative;
        text-align: center;
    }
    card-title{
        position: absolute;
        top: 86%;
        font-size: 2.0em;
        width: 100%;
        font-weight:bold; 
        color:#fff;
    }
    .logo{
        width:40%;
        height:35%;
    }
    ion-toolbar{
        text-align: center;
    }
    .card-content-md{
        padding-left: 2px !important;
        text-align: left;
        color: #fb0035;
    }
    .grid{
        margin: -3px !important;
        padding: 0px !important;
    }
    .card-header-md{
        color: #fb0035 !important;
        font-weight: bold;
    }
    .item-md h2 {
        margin: 2px 2px !important;
        font-size: 2rem !important;
        font-weight: bolder !important;
        color: #0476bc !important;
    }
    .segment-md .segment-button.activated, .segment-md .segment-button.segment-activated {
        border-color: #000;
        opacity: 1;
        color: #fff;
        font-size: 15px;
    }
    .chart-lbls{
        color: #000;
        font-weight: bold;
    }
    ion-fab[top][edge] {
        top: -10px;
        width: 100px;
    }
    .fab-in-list.show {
        opacity: 1;
        visibility: visible;
        -webkit-transform: scale(1);
        transform: scale(1);
        width: 100px;
    }
    .fab{
        border-radius: 30%
    }
    .fab-md-in-list {
        font-size: 20px;
        background-color: #d5cfca;
    }
    .col{
        font-size: 15px;
    }
//     .scroll-content{
//     margin-top: 56px;
//     background-color: rgba(255, 235, 59, 0.57);
//     color: #fff;
//   }
}
