page-search-customer {
    .header-row{
        font-size: 20px;
    } 
     .body-row{
        font-size: 15px;
        padding:1px;
        margin-right:10px;
    }
    .grid{
        margin-left:-10px;
    }
    .col{    
        margin-right: -10px;
        padding: 2px;
    }
    .item-md{
        padding-left:6px;
    }
    .btn-col{
        margin-right:-20px
    }
}
