page-menu {
//background-color: #c3d9e6;

ion-content{
    background-image: url('../assets/imgs/bg_wood.jpg');
}
// .scroll-content{
//     background-color: rgba(59, 112, 146, 0.42);
// }
.item-md{
    font-size: 22px;
    font-weight: bold;
    color:#fff;
}
}
